ul {
    list-style: none;
    margin-left: -40px;
  }

.tab{
    margin-bottom: 45px;
}
.tab-list .tab {
  background-color: transparent; /* Ensure background is transparent */
  font-size: 57%;
}

.tab:hover{
    color: var(--green-bright);
}

.tab-list{
    font-family: "Nunito", sans-serif;
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    margin-right: 20px;
    height: 500px;
    color: var(--lightest-slate);
}

.job-title {
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    padding-left: 5px;
    font-weight: bold;
    color: var(--lightest-slate);
  }
  
  .job-company {
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    color: var(--green-bright);
    font-weight: bold;
  }
  
  .job-duration {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding-left: 10px;
    color: var(--slate);
  }
  .job-description li::before {
    content: "▹    ";
    color: var(--green-bright);
    position: absolute;
    left: 2em;
  }
  
  .job-description li {
    font-family: "Nunito", sans-serif;
    position: relative;
    padding-left: 60px;
    padding-bottom: 16px;
    font-size: 18px;
    color: var(--slate);
  }
  
  .job-description {
    min-height: 300px;
    padding-top: 24px;
    max-width: 650px;
    font-family: "NTR", sans-serif;
    font-size: 20px;
  }
  
  .job-description a,
  .job-description b {
    font-size: 19px;
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    .tab-panel {
      height: 700px; /* this prevents the tabs from moving when the screen is resized */
    }
    .tab-list .tab {
      font-size: 0.7rem; 
      width: 200px;
      overflow: scroll;
      text-overflow: ellipsis; 
    }
    .tab-list {
      white-space: nowrap; 
      margin-right:30px;
      font-size: 1.5rem; 
      display: flex;
    }
    .job-description {
      flex-wrap: wrap; 
  min-height: 600px;
  max-height: 700px;
  height: 650px;
  overflow-y: scroll; 
    }
    .job-description,
.job-title,.job-company,.job-duration {
  line-height: 1.5;
  font-size: 1rem;
}
}

@media screen and (max-width: 500px) {
  .tab-panel {
    height: 800px; /* this prevents the tabs from moving when the screen is resized */
  }
  .tab-list .tab {
    font-size: 0.7rem; 
    width: 125px;
    overflow: scroll;
    text-overflow: ellipsis; 
  }
  .tab-list {
    white-space: nowrap; 
    margin-right:30px;
    font-size: 1.5rem; 
    display: flex;
  }
  .job-description {
    flex-wrap: wrap; 
min-height: 600px;
max-height: 700px;
height: 350px;
overflow-y: scroll; 
font-size: 0.6rem;
  }
.job-title,.job-company,.job-duration {
line-height: 2;
font-size: 0.8rem;
}
}
  
