/* .Sidebar{

    height: 100%;
    width: 554px;
    background-color: orange;
} */
.Sidebar{
    height: 100vh;
    background-color: #1f1815;
    width: 50%;
    position:sticky;
    background-image: url(../assets/nyc.jpeg); 
    top: 0; /* Ensure the sidebar starts from the top */
    left: 0;
    overflow-y: auto; 
    display: flex; /* Add this */
    flex-direction: column; /* Add this */
    align-items: flex-end; /* Add this */
    padding: 20px; /* Add some padding for spacing */
    background-repeat: repeat;
    background-size: cover;
}
.Sidebar::before {
    content: "";
    display: flex; /* Add this */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 24, 21, 0.53); /* Change the color and opacity as needed */
    z-index: 1; /* Ensure overlay is on top of the background image */
}

.Sidebar * {
    top: 0;
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
}

.avatar{
    margin-bottom: 20px;
}

.typeAni{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 10ch;
    border-right: 3px solid black;
    animation: typing 2s steps(23), cursor .5s step-end infinite alternate;
}     

@keyframes typing {
    from {
      width: 0
    }
  }
@keyframes cursor{
    50% {   border-color: transparent; }
}

.email-icon {
    justify-self: center;
    font-size: 1.5em;
    display: flex;
}

.intro-contact {
    display: flex;
    font-size: 22px;
    font-weight: bolder;
    align-self: center;
    font-family: "Nunito";
    margin-top: 20px;
    padding: 15px 20px;
    cursor: pointer;
    border: 1px solid var(--green-bright);
    border-radius: 4px;
    gap: 10px;
    color: var(--green-bright);
}
.intro-contact:hover {
    background-color: var(--light-navy);
  }

  .contact-icons {
    display: flex;
    justify-content:left; 
    margin-top: auto; 
    font-size: 2.5rem; 
    gap: 20px; 
}

.contact-icons a {
    display: inline-block; /* Ensure a tags don't collapse */
    text-decoration: none; /* Remove underline from links */
}

.contact-icons img {
    width: 40px; /* Adjust the size as needed */
    height: auto;
    display: block; /* Ensure the image is displayed */
}

.sidebar-description{
    text-align: center;
    color: var(--super-white);
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    line-height: 1.5em;
    flex-direction: column;
    align-items: flex-end;

}

@media screen and (max-width: 1800px) {
    body, input, select, textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1000px) {
    .Sidebar {
        display: none;
    }
}